/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2017, 22:26:54
    Author     : ariel
*/
*{
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header.navbar-prestamos .navbar-inner .nav {
    float: right;
    margin-right: 0;
    width: 11%;
}

header.navbar-prestamos .navbar-inner {
    width: 100%;
}
h1 span{
    color: #ffffff;
    width: 11%;
}
.submenu{
    background-color: #d8d8d8;
    height: 4%;
    /* border-bottom: 2px solid azure; */
    /* box-shadow: -1px 5px 5px 10px #888888; */
    -moz-box-shadow: 0px -3px 28px #000000;
    -webkit-box-shadow: 0px -3px 28px #000000;
    box-shadow-bottom: 0px -3px 28px #000000;
    margin-bottom: 2%;
    
}

#miFormulario{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.menu{
    display: block;
    width: 100%;
    text-align: center;
    
}
.item-menu{
       display: inline-block;
    border-left: 1px solid #aba2a2;
    height: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 11%;
    line-height: 2;
    min-width: 14%;
    overflow: hidden;
}
#contenedor_permisos{
    display: block;
    width: 100%;
}
.permiso{
    width: 10%;
    height: 100px;
    border: 1px solid;
    text-align: center;
    line-height: 7;
    display: inline-block;
}

a:visited {
    color: #000000 !important;
}
a:focus, a:hover {
    color: #000000 !important;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
    color: #000000 !important;
}
.item-menu:last-child{
    border-right: 1px solid #aba2a2;
}
body{    
    padding: initial !important;
    margin-top: -10px !important;
    color: #333;
    padding: 0 1.5em 3em;
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
    transition: margin 0.3s ease, transform 0.3s ease;
}
header.navbar-prestamos .navbar-inner {
    background: #019875;
    border-bottom: 1px solid #019875;
}
header.navbar.navbar-static-top.navbar-prestamos{
    margin-bottom: 0;
    min-height: 40px;
    border: none;
}
header .title{
    position: relative;
    float: left;
    margin: 0;
    margin-left: 5px;
    color: #474d57;
    font-size: 16px;
    line-height: 44px;
    font-weight: normal;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    max-width: 37%;
    z-index: 10000;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
ul.nav.navbar-nav li{
    color: ffffff;
    font-size: 11px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    position: relative !important;
}
ul.nav.navbar-nav li span{
    line-height: 44px;
    width: 100%;
}
ul.nav.navbar-nav li div{
    line-height: 44px;
    width: 100%;
}

#main header{
    display: flex;
    max-width: 100%;
}
.esconder{
    display: none;
}
/*.s{
    min-wfilteridth: 75%;
    max-width: 100%;
}*/
.paginador{
    min-width: 75%;
    max-width: 100%;
}

#datos_cliente{

    margin-top: -2%;
}
.margin-top-invertido{
    margin-top: -3%;
}

.descripcion{
    float: right;
    font-weight: 600;
    text-transform: capitalize;
}

.loggout {
    float: right !important;
    text-align: center;
    vertical-align: middle;
    display: block !important;
    margin-top: -1%;
    font-size: 136% !important;
}
.usuario{
    float: right !important;
    text-align: center;
    vertical-align: middle;
    display: block !important;
    margin-top: -1%;
    font-size: 136% !important;
    margin-right: 7%;
}
.usuario>span{
    margin-left: 14%;
    text-transform: capitalize;
    margin-right: 22%;
}
.teatro{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.teatro i {
    padding: 80px;
    color: rgb(79, 163, 212);
    display: block;
}
html {
    height: 100%;
}
.body {
    background-color: none!important;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
}
nav {
    background-color: rgb(6, 90, 110);
    color: #f0f0f0;
    min-height: 32px !important;
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #7D7D7D;
    top: 0;
    height: 32px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.04);
    color: #1d50a2;
    vertical-align: central;
}
.tituloWeb{
    left: 0px;
    width: 15%;
    margin-top: 0.3%;
}
.link {
    cursor: pointer;
    text-transform: uppercase;
}
.link:hover{
    text-decoration: underline;
}
.blue{
    background-color: #4fa3d4 !important;
    border-color: rgba(108, 91, 254, 0) !important;
    color: #ffffff;
    border-bottom: 2px solid #337ab7 !important;
}
.icono-nav{
    float: left;
}
.sidebar_border{
    height: 100%;
}
.footer{
         line-height: 32px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(1, 152, 117);
    border-bottom: 2px solid #045643;
    color: #f0f0f0;
    position: absolute;
    right: 0;
    left: 0;
    position: fixed;
    bottom: 0;

}
