<div id="contenedor">
<!--    <head>
        <title>Prestamos</title>
        <meta name="author" content="Ariel Eduardo Dupuy">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="css/faviscon.ico" type="image/gif" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
        <link rel="stylesheet" href="public/Application.css">
        <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
        <link rel="stylesheet" href="public/stackeble/css/style.css">
        <script type="text/javascript" src="public/jquery-1.11.2.min.js"></script>
        <script src="public/select_bootstrap.js"></script>
        <script src="public/js/bootstrap.min.js"></script>
        <script src="public/stackeble/stacktable.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        <script type="text/javascript" src="public/Application.js"></script>
        <style>
            header.navbar-prestamos .navbar-inner{
                width: 100%;
            }

        </style>
    </head>-->

    <div id="main1">
        <header class="navbar navbar-static-top navbar-prestamos">
            <div class="navbar-inner">
                <div class="container">
                    <h1 class="title">
                        <span type="button" data-nav='main' data-method='home'>Prestamos</span>
                    </h1>
                    <div class="navbar-collapse collapse">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                
                            </ul>
                            <!--<i class="fa fa-camera-retro"></i> fa-camera-retro-->
                            <!--<div id="menu" class="menu"></div>-->
                            <!--<div id="sesion" nav="main_controller.bootstrap.min.css" class="controlUsuario"></div>-->
                            <!--<a href="" class="icono-nav fa fa-cloud-download"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </header>    
    </div>
</div>