<form id="miFormulario">
    <div class="col-lg-9">
        <i class="fa "></i>
        <div class="row">
            <div class="col_lg_6 cuadrado azul text-center">
                <div class="linea">
                    <div class="linea">
                        <i class="fa fa-user-o fa-2x"></i><h3>Acceso a usuarios</h3>
                    </div>
                    <br>
                    <div class="linea">
                        <input type="text" name="usuario" class="input-lg" placeholder="Usuario">
                    </div>
                </div>
                <div class="linea">
                    <div class="linea">
                        <!--<i class="fa fa-user-o fa-2x"></i>-->
                    </div>
                    <br>
                    <div class="linea">
                        <input type="password" name="pass" class="input-lg" placeholder="Password">
                    </div>
                </div>
                <div class="linea">
                    <div class="linea">
                        <!--<i class="fa fa-user-o fa-2x"></i>-->
                    </div>
                    <br>
                    <div class="linea">
                        <input type="submit" id="btn-loggin" data-nav="main" data-method="login_post" name="prestamos" value="Login" class="tex">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
