<form id="miFormulario">
    <div class="tarjeta">
        <div class="tarjeta-top"><span>Asignar permiso a:</span></div>
        <div class="tarjeta-contenido">
            <select class="selectpicker col-lg-12" id="usuario" data-live-search="true" name="id_usuario" data-nav="permisos" data-method="home" >
                <option value="none">Seleccione un usuario</option>
            </select>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta-top"><span>Copiar permisos de</span></div>
        <div class="tarjeta-contenido">
            <select class="selectpicker col-lg-12" id="id_usuario_copiar" class="select-bootrap" data-live-search="true" name="id_usuario_copiar" data-nav="permisos" data-method="home" >
                <option value="none">Seleccione un usuario</option>
            </select>
            <div class="row-fluid">
            <input type="button" data-method="copiar" data-nav="permisos" value="Copiar" class="btn btn-primary col-lg-2 col-md-2 col-xs-2 col-lg-offset-5 col-md-offset-5 col-xs-offset-5 margin-top">
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="tarjeta-top"><span>Permisos</span></div>
        <div id="contenedor_permisos" class="tarjeta-contenido">
<!--            <div class="cuadrado permiso" type="button" data-nav="permisos" data-method="asignar" name="">
                <span>Prestamos</span>
            </div>
            <div class="cuadrado permiso" type="button" data-nav="permisos" data-method="asignar" name="">
                <span>Clientes</span>
            </div>
            <div class="cuadrado permiso" type="button" data-nav="permisos" data-method="asignar" name="">
                <span>prestamos</span>
            </div>
            <div class="cuadrado permiso" type="button" data-nav="permisos" data-method="asignar" name="">
                <span>usuarios</span>
            </div>
            <div class="cuadrado permiso" type="button" data-nav="permisos" data-method="asignar" name="">
                <span>permisos</span>
            </div>-->
        </div>
    </div>
</form>