<form id="miFormulario">
    <div class="row col-lg-12">
        <section class="row tarjeta">
            <div class="tarjeta-top"><span>Seleccion de Clientes.</span></div>
            <div class="tarjeta-contenido">
                <div class="col-lg-6 col-md-3">
                    <select class="selectpicker col-lg-12 "  data-live-search="true" data-nav="prestamo" data-method="home" id="id_cliente" name="id_cliente">
                        <option value="0" >Seleccione un cliente</option>
                    </select>

                </div>
                <div class="col-lg-6"><span class="btn btn-success" data-toggle="modal" data-target="#ventana-modal" id="nuevo_cliente" data-modal="Cliente" data-modal-method="crear_cliente_modal" >Agregar Cliente</span></div>
            </div>
        </section>
        <section class="row tarjeta">
            <div class="tarjeta-top"><span>Datos Cliente</span></div>
            <div class="tarjeta-contenido">
                <div class="col-lg-12  text-left">
                    <div class="row col-lg-12">
                        <div id="datos_cliente" class="row col-lg-12 col-lg-offset-0 margin-top">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div><span>Nombre: </span><span class="descripcion" id="nombre"></span></div>   
                                <div><span>Apellido: </span><span class="descripcion" id="apellido"></span></div>   
                                <div><span>Fecha de naciemiento: </span><span class="descripcion" id="fec_nac"></span></div>   
                                <div><span>DNI: </span><span id="documento" class="descripcion"></span></div>   
                                <div><span>E-mail: </span><span id="email" class="descripcion"></span></div>   
                            </div>
                            <div class="col-lg-4 col-lg-offset-1">
                                <div><span>Direccion: </span><span id="direccion" class="descripcion"></span></div>
                                <div><span>Numero: </span><span id="numero" class="descripcion"></span></div>
                                <div><span>Telefono: </span><span id="telefono" class="descripcion"></span></div>
                                <div><span>Celular: </span><span id="celular" class="descripcion"></span></div>
                                <div><span>Localidad: </span><span id="localidad" class="descripcion"></span></div>
                                <div><span>Nacionalidad: </span><span id="nacionalidad" class="descripcion"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row tarjeta">
            <div class="tarjeta-top"><span>Datos de prestamo</span></div>
            <div class="tarjeta-contenido">
                <div class="text-left margin-top-invertido">
                    <div class="row col-lg-5  col-lg-offset-1">
                        <div><input class="col-xs-3 form-control" id="monto_total" name="monto_total" placeholder="Monto Total" step="0.5" max="100000" min="10" required="required" type="number"></div>
                        <div><input class="col-xs-3 form-control" id="tasa" name="tasa" placeholder="Interes" max="100" min="0.1" step="0.1" type="number"  required="required"></div>
                        <div><input class="col-xs-3 form-control" id="cuotas" name="cuotas" placeholder="Cuotas" max="36" min="0"  required="required"  type="number" step="1"></div>
                    </div>
                    <div class="row col-lg-5 col-lg-offset-1">
                        <select class="selectpicker" data-live-search="true" name="modalidad" data-nav="prestamo" data-method="home" id="modalidad">
                            <option value="1">Mensual</option>
                            <option value="2">Quincenal</option>
                            <option value="3">Diario</option>
                            <option value="4">Anual</option>
                        </select>
                        <div class="total"><span>Monto Total a Devolver: </span><span id="monto_a_devolver"></span></div>
                        <div class="total"><span><b>Interes Total ganado: </b></span><span id="interes_ganado"></span></div>
                        <div class="imprimir"><input class="margin" placeholder="" type="checkbox"><span>Imprimir Pagares</span></div>
                        <div class="imprimir"><input class="margin" placeholder="" type="checkbox"><span>Imprimir contrato</span></div>
                    </div>
                    <div class="col-lg-10  col-lg-offset-4 ">
                        <div><input class="btn col-lg-1 col-xs-3 btn-primary margin" data-nav="prestamo" data-method="prestamo_create_post" type="submit" value="Aceptar"></div>
                        <div><input class="btn col-lg-1 col-xs-3 margin" data-nav="prestamo" data-method="home" type="button" value="Cancelar"></div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker();
    });
    if ($("#cliente").val() == 0) {
        $("#datos_cliente").hide();
    }
    if ($("#cliente").change(function () {
        if ($(this).val() == 0) {
            $("#datos_cliente").hide();
        } else
            $("#datos_cliente").show();
    }))
        ;
    $("#nuevo_cliente").click(function (e) {
        e.preventDefault();

        link_reemplazo($(this).attr("data-modal"), $(this).attr("data-modal-method"), "modal-body");

    });
    link_modal.accion_modal = function () {
        link("prestamo", "home");
    }
</script>

<style>
    .form-control{
        margin-bottom: 2%;
    }
    .margin{
        /*margin-left: 2%;*/
        /*margin-top: 2%;*/
        /*margin-top: 2%;*/
        margin: 2%;
    }
</style>