<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
    <title>Prestamos</title>
    <meta name="author" content="Ariel Eduardo Dupuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="css/faviscon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <!--<link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">-->
    <link rel="stylesheet" href="public/Application.css">
    <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
    <script type="text/javascript" src="public/jquery-1.11.2.min.js"></script>
    <!--<script src="public/select_bootstrap.js"></script>-->
    <script src="public/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="public/Application.js"></script>
    <script>

    </script>
</head>
<body class="body">
    <nav class="navbar navbar-default navbar-static-top blue">
        <div class="container-fluid">
            <!--<i class="fa fa-camera-retro"></i> fa-camera-retro-->
            <div type="button" name="main_controller.main_menu" class="tituloWeb link" >Prestamos</div>
            <!--<div id="menu" class="menu"></div>-->
            <div class="loggout fa fa-power-off icono-nav" type="button" data-nav="main" data-method="user_logout" title="Cerrar sesión"></div>
            <div class="fa fa-user icono-nav usuario" type="button" data-nav="main" data-method="user_logout" title="Cerrar sesión"><span id="usuario"></span></div>
            <!--<div id="sesion" nav="main_controller.bootstrap.min.css" class="controlUsuario"></div>-->
            <!--<a href="" class="icono-nav fa fa-cloud-download"></a>-->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row ">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <!--<a class="" href="#">Overview <span class="sr-only">(current)</span></a>-->
                        <a href="#" class="nav-link active" data-nav='main' data-method='home' >Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-nav='prestamo' data-method='home' >Realizar Nuevo Prestamo</a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-nav='cliente' data-method='home' >Clientes</a>

                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-nav='usuarios' data-method='home' >Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-nav='estadisticas' data-method='home' >Estadistica de Hoy</a>
                    </li>
                </ul>


            </nav>
            <!--        <div class="col-lg-2 col-xs-2">
                        <div id="sidebar-wrapper" class="sidebar_border">
                            <div class="nav nav-pills flex-column" id="sistema_admin">
                                <a href="#" class="list-group-item active blue" data-nav='main' data-method='home' >
                                    Inicio
                                </a>
                                <a href="#" class="list-group-item" data-nav='prestamo' data-method='home' >Realizar Nuevo Prestamo</a>
                                <a href="#" class="list-group-item" data-nav='cliente' data-method='home' >Clientes</a>
                                <a href="#" class="list-group-item" data-nav='usuarios' data-method='home' >Usuarios</a>
                                <a href="#" class="list-group-item" data-nav='estadisticas' data-method='home' >Estadistica de Hoy</a>
                        </div>
                    </div>
                    </div>-->
            <main class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-1 ">
                <section class="row text-center placeholders">
                    <div id="main" >

                    </div>
                </section>
            </main>
        </div>
    </div>
    <section id="modal">
        <div id="ventana-modal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-lg-12">
                        <div id="modal-body" class="row"></div>
                    </div>
                    <div class="modal-footer">
<!--                        <button type="button" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="debug-container"></div>
    <div class="footer">© Ariel Dupuy 2017</div>
</body>
</html>
<script>
  
</script>
