
<head>
    <title>Prestamos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Ariel Eduardo Dupuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="css/faviscon.ico" type="image/gif" sizes="16x16">
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/bootstrap-select-1.12.4/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="public/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
    <link href="public/Dashboard/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!--<link href="public/Dashboard/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet">-->
    <!--<link href="public/Dashboard/css/custom.min.css" rel="stylesheet">-->
    <!--<link href="../../public/Dashboard/vendors/Chart.js/dist/Chart.js" rel="stylesheet">-->
    <link rel="stylesheet" href="public/Application.css" media="screen">
    <!--<link rel="stylesheet" href="public/stackeble/css/style.css" media="screen">-->
    <link rel="stylesheet" href="public/Application_cel.css" media="handheld">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style_cel.css" media="handheld">
    <!--<link rel="stylesheet" href="public/stackeble/css/style_cel.css" media="handheld">-->
    
    <!-- JQVMap -->
    <!-- bootstrap-daterangepicker -->

    <!-- Custom Theme Style -->
    
    <script type="text/javascript" src="public/jquery-3.2.1.min.js"></script>
    <script src='public/jquery_ui.js'>
    <script src="public/bootstrap-select-1.12.4/dist/js/bootstrap-select.js"></script>
    <script src="../../public/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <!--<script src="public/select_bootstrap.js"></script>-->
    <script src="public/stackeble/stacktable.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/Dashboard/vendors/animate.css/animate.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="public/Dashboard/js/jquery.knob.js"></script>
    <!--<script src="../../public/Dashboard/js/custom.min.js"></script>-->
    <script type="text/javascript" src="public/Application.js"></script>
</head>

<div id="main">

</div>


<!--<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
    <title>Prestamos</title>
    <meta name="author" content="Ariel Eduardo Dupuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="css/faviscon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
    <link rel="stylesheet" href="public/Application.css">
    <link rel="stylesheet" href="public/Font-Awesome/css/font-awesome.css">
    <link rel="stylesheet" href="public/stackeble/css/style.css">
    <script type="text/javascript" src="public/jquery-1.11.2.min.js"></script>
    <script src="public/select_bootstrap.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/stackeble/stacktable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="public/Application.js"></script>
    <script>

    </script>
</head>
<body >
    <header class="navbar navbar-static-top navbar-prestamos">
        <div class="navbar-inner">
            <div class="container">
                <h1 class="title">
                    <span type="button" data-nav='main' data-method='home'>Prestamos</span>
                </h1>
                <div class="navbar-collapse collapse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="fa fa-user icono-nav usuario" type="button" data-nav="main" data-method="user_logout" title="Cerrar sesión"></div>
                            </li>
                            <li>
                                <span id="usuario"></span>
                            </li>
                            <li >
                                <div class="loggout fa fa-power-off icono-nav" type="button" data-nav="main" data-method="user_logout" title="Cerrar sesión"></div>
                            </li>
                        </ul>
                        <i class="fa fa-camera-retro"></i> fa-camera-retro
                        <div id="menu" class="menu"></div>
                        <div id="sesion" nav="main_controller.bootstrap.min.css" class="controlUsuario"></div>
                        <a href="" class="icono-nav fa fa-cloud-download"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="submenu" id="submenu">
        <div class="menu">
            <div class="item-menu">
                <a href="#" class="nav-link active" data-nav='main' data-method='home' >Inicio</a>
            </div>
            <div class="item-menu">
                <a href="#" class="nav-link" data-nav='prestamo' data-method='home' >Realizar Nuevo Prestamo</a>
            </div>
            <div class="item-menu">
                <a href="#" class="nav-link" data-nav='cliente' data-method='home' >Clientes</a>
            </div>
            <div class="item-menu">
                <a href="#" class="nav-link" data-nav='prestamos_otorgados' data-method='home' >Prestamos</a>
            </div>
            <div class="item-menu">
                <a href="#" class="nav-link" data-nav='estadisticas' data-method='home' >Estadistica de Hoy</a>
            </div>
        </div>
    </div>

-->